* {
    margin: 0;
    padding: 0;
}

.bannière {
    display: flex;

    width: 300px;
    height: 500px;
    padding-left: 20px;
}

body {

    background-image: url("/assets/fantasy-style-entryway-door-with-desert-landscape.jpg");
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*bouton contact*/

.neon-btn {
    position: relative;
    padding: 20px 30px;
    background: transparent;
    border: 3px solid #f3eaff;
    border-radius: 50px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 7px 0 #EA9210, 0 0 5px 2px #8F530F, inset 0 0 7px 0 #F5DA9F, inset 0 0 5px 1px #B5A989;
}

.neon-btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50px;
    transition: all 200ms ease-in-out;
}

.neon-btn:hover::before {
    top: -9px;
    left: -9px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    border: 1px solid #f3eaff;
    box-shadow: 0 0 7px 0 #EA9210, 0 0 5px 2px #8F530F, inset 0 0 7px 0 #F5DA9F, inset 0 0 5px 1px #B5A989;
}

.container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 6px;
    width: 90%;
}

h1,
.text {
    font-family: "Antic Didone", serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
}

.Projets {
    position: relative;
    padding: 20px 30px;
    background: transparent;
    border: 3px solid #f3eaff;
    border-radius: 50px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 7px 0 #EA9210, 0 0 5px 2px #8F530F, inset 0 0 7px 0 #F5DA9F, inset 0 0 5px 1px #B5A989;
}


.Projets:before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-radius: 50px;
    transition: all 200ms ease-in-out;
}

.Projets:hover::before {
    top: -9px;
    left: -9px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    border: 1px solid #f3eaff;
    box-shadow: 0 0 7px 0 #EA9210, 0 0 5px 2px #8F530F, inset 0 0 7px 0 #F5DA9F, inset 0 0 5px 1px #B5A989;
}

a {
    text-decoration: none;
    color: white;

}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.center {
    justify-content: center;
    gap: 16px;
}

.mes_projets {
    width: 100%;
    /*height: 300px;*/

    margin-top: 64px;
    display: flex;

}

.ruche {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 15px;
    margin: 10px;
    color: #fff;
}

.ruche img {
    width: 100%;
}

.expériences {
    width: 200px;
    padding: 15px;
    margin: 10px;
    justify-content: flex-end;
    color: #fff ;
    flex-wrap: wrap;
    display: flex;
}

.voir_plus {
    position: relative;
    padding: 10px 10px;
    background: transparent;
    border: 3px solid #f3eaff;
    border-radius: 50px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 7px 0 #EA9210, 0 0 5px 2px #8F530F, inset 0 0 7px 0 #F5DA9F, inset 0 0 5px 1px #B5A989;
}

.voir_plus:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50px;
    transition: all 200ms ease-in-out;
}

.voir_plus-btn:hover::before {
    top: -9px;
    left: -9px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    border: 1px solid #f3eaff;
    box-shadow: 0 0 7px 0 #EA9210, 0 0 5px 2px #8F530F, inset 0 0 7px 0 #F5DA9F, inset 0 0 5px 1px #B5A989;
}
